<div
  class="card rounded-2xl animate__animated animate__fadeInDown p-4 mt-6 flex flex-col md:flex-row justify-center items-center gap-6"
>
  <div>
    <div class="rounded-full border-4 border-white w-80 h-80 overflow-hidden">
      <img
        src="./assets/image.webp"
        alt=""
        class="w-full h-full object-cover"
      />
    </div>
  </div>

  <div class="w-full">
    <h1 class="text-white text-2xl md:text-4xl font-bold mb-2">
      ¡Hola! Soy <span class="color">Daniel Arias</span> 👨‍💻
    </h1>
    <p class="text-white text-base md:text-lg">
      Transformo ideas en soluciones web completas. Como desarrollador
      full-stack, integro diseño y funcionalidad para crear experiencias
      digitales eficientes y atractivas, desde la interfaz de usuario hasta la
      arquitectura backend. Ya sea que necesites una página web atractiva, una
      aplicación compleja o mejorar tu infraestructura existente, estoy aquí
      para ayudarte a alcanzar tus metas digitales.
    </p>
    <div class="flex flex-row justify-center md:justify-start items-center gap-4 mt-2">
      <a href="https://github.com/AriasDaniel7">
        <div>
          <div class="rounded-full w-10 h-10 overflow-hidden">
            <img
              src="./assets/logos/Github_dark.svg"
              alt=""
              class="w-full h-full object-cover"
            />
          </div>
        </div>
      </a>
      <a href="https://www.linkedin.com/in/daniel-david-arias-monroy-371a41274">
        <div>
          <div class="rounded-full w-10 h-10 overflow-hidden">
            <img
              src="./assets/logos/linkedin.svg"
              alt=""
              class="w-full h-full object-cover"
            />
          </div>
        </div>
      </a>

      <button class="button" mat-fab extended>Contactame</button>
    </div>
  </div>
</div>
